body{
    background-image: url(img/fondo1.png);
    background-repeat: repeat-y;
    background-size: 100%;   
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;

}

.section1 {
    text-align: center;
    background-color: #FFCC33;
    width: 80%;
    position: fixed;
    width: 50%;
    height: 38em;
    left: 25%;
    border-radius: 20px; 
}

textarea, input {
    border-radius: 5px;
}

#numberDis {
    width: 60px;
}

#textIn {
    width: 60%;
    height: 80px;
    resize: none;
    font-family: helvetica;
    font-size: 15px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;    
}

h5, h3 {
    margin: 1px;
}

#btnEncode {
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: #6BBDB1;
    margin: 5px;
    border-radius: 10px;
}

#btnDecode {
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: #CE527E;
    margin: 5px;
    border-radius: 10px;
}

#displacement {
    margin: 20px;
}

#resultado {
    margin-top: 10px;
    margin-bottom: 10px

}

#resultText {
    font-size: 25px;
    background-color: #D685A6;
}