 body{
    text-align: center;
    background-color: #edea3d;
    font-family: 'Courier New', Courier, monospace
}

#resultText {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
}











