body{
    text-align: center;
    background-color: #edea3d;
    font-family: 'Courier New', Courier, monospace
}

button, textarea {
    border-radius: 5px;
}

#numberDis {
    width: 60px;
}

#ingressText {
    width: 400px;
    height: 100px;
    resize: none;
}







